/ThreeEyesDB.db
/ThreeEyesDB.db-journal
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/OCLRecommendation.iml
.idea/vcs.xml
__pycache__/DAO.cpython-37.pyc
OCLTest.db
/FinalDB.db
/FinalDB - backup.db
/ValidAST.txt
