/ThreeEyesDB.db
/ThreeEyesDB.db-journal
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/OCLRecommendation.iml
.idea/vcs.xml
__pycache__/DAO.cpython-37.pyc
OCLTest.db
/FinalDB.db
/FinalDB - backup.db
/ValidAST.txt
__pycache__/DAO.cpython-38.pyc
__pycache__/dataExtractor.cpython-38.pyc
מצגת האקתון.pptx
Pipeline Database.db
outputs/outputs.txt
__pycache__/dataExtractor.cpython-37.pyc
__pycache__/Parser.cpython-37.pyc
מצגת האקתון.pptx
object_final.csv
relations_final.csv
__pycache__/Parser.cpython-37.pyc
.idea/csv-plugin.xml
__pycache__/Parser.cpython-37.pyc
*.pyc
outputs/outputs.txt
outputs/outputs.txt
__pycache__/Parser.cpython-37.pyc
__pycache__/Parser.cpython-37.pyc
